<ion-content>
    <div class="boarding-container">
        <swiper #swiper [config]="boardingConfig" class="custom-swiper" [dir]="currentlangauge == 'ar' ? 'rtl' : 'ltr'">
            <ng-template swiperSlide>
                <div class="boarding1">

                </div>
                <div class="ion-text-center">
                    <p>kjkdjkjdskjd</p>
                    <p>kjkdjkjdskjd</p>
                    <p>kjkdjkjdkhekhr ewhrk hwejkr hewkj rkjehwr khwk jrhwk ehr wekrhkwejhrkjewh rkhwekjrhkewhrjk hwjk
                        rjhwkehkjd</p>
                </div>

            </ng-template>

            <ng-template swiperSlide>
                <div class="boarding2">

                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="boarding3">
                </div>
            </ng-template>
        </swiper>
    </div>





</ion-content>