<ion-header
  class="ion-no-border"
  [ngClass]="currentPlatform == 'ios' ? 'ios-header' : ''"
>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button
        fill="solid"
        shape="round"
        color="primary"
        (click)="openMenu()"
      >
        <ion-icon src="./../../../assets/icon/menu.svg"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center fn-24 qesaa-Janna-Bold black-color">{{
      title | translate
    }}</ion-title>

    
    <ion-buttons  class="cart-icon " slot="end" *ngIf="hasMarketCart" (click)="showUserCart()">
      <!-- <ion-button fill="solid" shape="round" color="primary"> -->
        <span class="animate__zoomOut" *ngIf="cartCount!=0">{{cartCount}}</span>
        <ion-icon  name="cart-outline" color="primary"></ion-icon>
      <!-- </ion-button> -->
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="!isHome" (click)="goBack()">
      <ion-button fill="solid" shape="round" color="primary">
        <ion-icon src="./../../../assets/icon/back-icon.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class=" custom-top-margin"  [ngClass]="!haveBeforeHeader?'header-extenstion':''">

  </div>
  <!-- <div class="header-extenstion-Gallary custom-top-margin" *ngIf="haveBeforeHeader">

  </div> -->
</ion-header>
