<ion-header
  class="ion-no-border"
  [ngClass]="currentPlatform == 'ios' ? 'ios-header' : ''"
>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button
        fill="solid"
        shape="round"
        color="primary"
        (click)="openMenu()"
      >
        <ion-icon src="./../../../assets/icon/menu.svg"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center fn-24 qesaa-Janna-Bold">{{
      title | translate
    }}</ion-title>

    <ion-buttons slot="end" *ngIf="!isHome" (click)="goBack()">
      <ion-button fill="solid" shape="round" color="primary">
        <ion-icon src="./../../../assets/icon/back-icon.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class=" custom-top-margin"  [ngClass]="!isGallary?'header-extenstion':''">

  </div>
  <!-- <div class="header-extenstion-Gallary custom-top-margin" *ngIf="isGallary">

  </div> -->
</ion-header>
