<app-header [title]="'charity-market'" [isHome]="false"></app-header>

<ion-content class="ion-padding-horizontal">

    <div class="category-section">
        <swiper #swiper [config]="categoriesConfig" class="custom-swiper"
            [dir]="currentlangauge == 'ar' ? 'rtl' : 'ltr'">
            <ng-template swiperSlide *ngFor="let category of categories">
                <ion-button block>
                    <span class="fn-14 qesaa-Janna-Regular">
                        {{category.title}}
                    </span>
                </ion-button>
            </ng-template>
        </swiper>
    </div>


    <div class="products-conatiner">
        <div clas="product-wrapper" *ngFor="let product of products">
            <div class="product ion-padding ion-text-center">
                <div class="icon">
                    <img [src]="product.icon">
                </div>
            </div>
            <div class="ion-text-center title">
                <p class="ion-no-margin fn-18 qesaa-Janna-Bold">
                    {{product.title}}
                </p>
            </div>
        </div>
    </div>

</ion-content>