<app-header
  [haveBeforeHeader]="false"
  [haveBeforeHeader]="false"
  [title]="'charity-market'"
  [isHome]="false"
></app-header>

<ion-content class="ion-padding-horizontal">
  <div class="category-section">
    <ion-segment scrollable="true" (ionChange)="segmentChanged($event)">
      <ion-segment-button
        [value]="section.id"
        *ngFor="let section of sections;"
      >
        <span class="fn-14 qesaa-Janna-Regular white-color">
          {{section.title}}
        </span>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div  *ngIf="sectionProducts">
    <!-- class="products-conatiner" -->
    <!-- <div
      clas="product-wrapper"
      *ngFor="let product of sectionProducts"
      routerLink="/tabs/home/market/product/{{product.id}}"
    >
      <div class="product ion-padding ion-text-center">
        <div class="icon">
          <img [src]="product?.image" />
        </div>
      </div>
      <div class="ion-text-center title">
        <p class="ion-no-margin fn-18 qesaa-Janna-Bold">{{product?.title}}</p>
      </div>
    </div>-->

    <ion-row>
      <ion-col
        size="4"
        *ngFor="let product of sectionProducts"
       (click)="showService(product?.id)"
      >
        <div class="product  ion-text-center">
          <div class="icon">
            <img [src]="product?.image" />
          </div>
        </div>
        <div class="ion-text-center title">
          <p class="ion-no-margin fn-18 qesaa-Janna-Bold">{{product?.title}}</p>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
