<app-header
  [isGallary]="false"
  [isGallary]="false"
  [title]="'charity-market'"
  [isHome]="false"
></app-header>

<ion-content class="ion-padding-horizontal">
  <div class="category-section">
    <ion-segment scrollable="true" (ionChange)="segmentChanged($event)">
      <ion-segment-button [value]="category.id" *ngFor="let category of categories;">
        <span class="fn-14 qesaa-Janna-Regular white-color">
          {{category.title}}
        </span>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="products-conatiner">
    <div
      clas="product-wrapper"
      *ngFor="let product of products"
      routerLink="/tabs/home/market/product/{{product.id}}"
    >
      <div class="product ion-padding ion-text-center">
        <div class="icon">
          <img [src]="product.icon" />
        </div>
      </div>
      <div class="ion-text-center title">
        <p class="ion-no-margin fn-18 qesaa-Janna-Bold">{{product.title}}</p>
      </div>
    </div>
  </div>
</ion-content>
