<app-header  [hasMarketCart]="false" [haveBeforeHeader]="false" [title]="rulesDataResponse?.title" [isHome]="false"></app-header>

<ion-content class="ion-padding">
    <div class="ion-text-center">
        <img style="width: 176px;height: 180px;object-fit: cover;" src="./../../../../assets/images/512.png" />

        <div class="ion-text-center rules-container">
            <p class="ion-no-margin fn-14 qesaa-Janna-Regular" [innerHtml]="rulesDataResponse?.desc">

            </p>
        </div>
    </div>
</ion-content>