<app-header
  [haveBeforeHeader]="true"
  [title]="'gallery'"
  [isHome]="false"
  [hasMarketCart]="false"
></app-header>
<!-- [ngClass]="galleyType=='images'?'background-primary':'background-secondary'" -->

<!-- [ngClass]="currentLanguage=='ar'?'images-ar':'images-en'" -->
<!-- [ngClass]="currentLanguage=='ar'?'videos-ar':'videos-en'" -->

<ion-content>
  <ion-segment
   
    (ionChange)="galleyTypeChoose($event)"
    [value]="galleyType"
    color="primary"
  >
    <ion-segment-button
      value="photos"
      [ngClass]="galleyType=='photos'?'background-primary':'secondary'"
    >
      <ion-label class="fn-18 qesaa-Janna-Bold white-color">
        {{"images"|translate}}
      </ion-label>
    </ion-segment-button>
    <ion-segment-button
      value="videos"
      [ngClass]="galleyType=='videos'?'background-primary':'secondary'"
    >
      <ion-label class="fn-18 qesaa-Janna-Bold white-color">
        {{"videos"|translate}}
      </ion-label>
    </ion-segment-button>
  </ion-segment>

  <div
    *ngIf="galleyType=='photos' && galleryPhotos.length!=0"
    class="ion-padding"
  >
    <ion-row>
      <ion-col
        class="ion-text-center"
        size="4"
        *ngFor="let image of galleryPhotos" (click)="openPreview(galleryPhotos,image.id)"
      >
        <img [src]="image.image" />
      </ion-col>
    </ion-row>
  </div>
  <!-- (click)="openPreview(galleryVideos,video.id)" -->
  <div
    *ngIf="galleyType=='videos'&& galleryVideos.length!=0"
    class="ion-padding"
  >
    <ion-row>
      <ion-col
        class="ion-text-center"
        size="6"
        *ngFor="let video of galleryVideos" 
      >
        <video controls>
          <source [src]="video.video" type="video/mp4" />
        </video>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
