.families-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .family {
    margin-bottom: 18px;

    .family-image {
      border-radius: 10px;
    }

    .family-name {
      margin-top: 10px;
    }
  }
}
