ion-select{
  width:100%;
  &::part(text){
    color: var(--ion-color-gray);
  }
}

.map-location {
  .map-container {
    height: 167px;
    margin-top: 10px;
    border-radius: 20px;
  }

  capacitor-google-map {
    display: inline-block;
    height: 167px;
    border-radius: 20px;
  }
}

.request-date {
  .image-container {

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed var(--ion-color-secondary);
    border-radius: 20px;
    height: 117px;
    margin-top: 6px;
    img {
      height: 115px;
      width: 100%;
      border-radius: 20px;
    }

    ion-icon{
      font-size: 20px;
    }
  }
}

.request-time{
  margin-bottom: 6px;
}
