ion-content {
  &::part(background) {
    background-color: var(--ion-color-white) !important;
  }

  .auth-image {
    img {
      width: 100%;
    }
  }

  .title {
    margin-bottom: 24px;
  }

  .other-content {
    .forget-text {
      margin-bottom: 24px;
    }

    .language-contact{
        margin-top: 57px;
    }
  }
}
