<app-header [isGallary]="false" [title]="'order-details'" [isHome]="false"></app-header>

<ion-content class="ion-padding-horizontal">
  <div class="order-details ion-padding">
    <div class="request-data" *ngFor="let item of requestItems">
      <div class="text primary-color fn-16 qesaa-Janna-Bold">
        {{item.text|translate}}
      </div>
      <div class="value fn-16 qesaa-Janna-Bold">{{item.value}}</div>
    </div>

    <div class="divider">

    </div>

    <div class="client-data" *ngFor="let item of clientData">
      <div class="text primary-color fn-16 qesaa-Janna-Bold">
        {{item.text|translate}}
      </div>
      <div class="value fn-16 qesaa-Janna-Bold">{{item.value|translate}}</div>
    </div>
  </div>

  <div class="order-images">

    <p class="title ion-no-margin fn-16 qesaa-Janna-Bold">
      {{"order images"|translate}}
    </p>


    <div class="images">
      <swiper #swiper [config]="orderConfig" class="custom-swiper" [dir]="currentlangauge == 'ar' ? 'rtl' : 'ltr'">
        <ng-template swiperSlide *ngFor="let image of orderImages">
          <img [src]="image" />
        </ng-template>
      </swiper>
    </div>
  </div>
</ion-content>