ion-segment {
  background-color: var(--ion-color-white);
  ion-segment-button {
    background-color: var(--ion-color-secondary);
    height: 50px;
    --indicator-height: 0px !important;
    --indicator-color: transparent !important;
    &:focus {
      background-color: var(--ion-color-primary);
    }
  }

  .images-ar {
    border-radius: 0 25px 0 0;
  }
  .images-en {
    border-radius: 25px 0 0 0;
  }

  .videos-ar {
    border-radius: 25px 0 0 0;
  }
  .videos-en {
    border-radius: 0 25px 0 0;
  }
}

.img {
  border-radius: 10px;
}

