<app-header [haveBeforeHeader]="true" [title]="'gallery'" [isHome]="false"></app-header>

<ion-content>
    <ion-segment (ionChange)="galleyTypeChoose($event)" [value]="galleyType" color="primary">
        <ion-segment-button value="images" [ngClass]="currentLanguage=='ar'?'images-ar':'images-en'">
            <ion-label class="fn-18 qesaa-Janna-Bold white-color">
                {{"images"|translate}}
            </ion-label>
        </ion-segment-button>
        <ion-segment-button value="videos" [ngClass]="currentLanguage=='ar'?'videos-ar':'videos-en'">
            <ion-label class="fn-18 qesaa-Janna-Bold white-color">
                {{"videos"|translate}}
            </ion-label>
        </ion-segment-button>
    </ion-segment>


    <div *ngIf="galleyType=='images'" class="ion-padding">
        <ion-row>
            <ion-col size="4" *ngFor="let image of images">
                <img [src]="image.image">
            </ion-col>
        </ion-row>
    </div>

    <div *ngIf="galleyType=='videos'" class="ion-padding">
        <ion-row>
            <ion-col size="6" *ngFor="let video of videos">
                <!-- <video controls>
                    <source src="movie.mp4" type="video/mp4">
                </video> -->
                <img [src]="video.image">
            </ion-col>
        </ion-row>
    </div>

</ion-content>