<app-header [title]="pageData.title"></app-header>
<ion-content class="charity-info">
  <div class="custom-card ion-text-center custom-content-margin">
    <img [src]="'./../../../assets/icon/'+pageData.title+'.svg'">

    <p class="fn-30 qesaa-Janna-Bold primary-color ion-no-margin">{{  pageData.title|translate}}</p>
  </div>

  <div class="charity-info-content  ion-text-center" *ngIf="pageData.title!='goals'">
     <p class="fn-18 qesaa-Janna-Regular ion-no-margin"> {{pageData.content|translate}}</p>
  </div>

  <div class="charity-info-content  ion-text-center" *ngIf="pageData.title=='goals'">

    <ul>
      <li *ngFor="let i of [1,2,3,4,5,6,7]" class="ion-text-start">
        <p  class="fn-18 qesaa-Janna-Regular ion-no-margin ion-text-start"> {{pageData.content+i|translate}}</p>
      </li>
    </ul>
 </div>
</ion-content>
