// #main {
//   background: white;
//   border-radius: 10px;
//   padding: 16px 19px;
//   display: flex;
//   align-items: center;
// }

// #main div:nth-of-type(1) {
//   flex-grow: 2;
// }
// #main div:nth-of-type(2) {
//   flex-grow: 1;
//   border-left: 1px solid green;
// }
// #main div:nth-of-type(3) {
//   flex-grow: 2;
//   background-color: khaki;
//   margin: 0 3px;
//   border-radius: 50%;
//   padding: 10px;
//   width: 40px;
//   height: 40px;
// }
// #main div:nth-of-type(4) {
//   flex-grow: 2;
//   background-color: pink;
//   margin: 0 3px;
//   border-radius: 50%;
//   padding: 10px;
//   width: 40px;
//   height: 40px;
// }
// #main div:nth-of-type(5) {
//   flex-grow: 2;
//   background-color: lightgrey;
//   margin: 0 3px;
//   border-radius: 50%;
//   padding: 10px;
//   width: 40px;
//   height: 40px;
// }
// #main div:nth-of-type(6) {
//   flex-grow: 2;
//   background-color: red;
//   margin: 0 3px;
//   border-radius: 50%;
//   padding: 10px;
//   width: 40px;
//   height: 40px;
// }

// .next-compain {
//   background: white;
//   border-radius: 10px;
//   padding: 16px 19px;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;

//   div:nth-of-type(1) {
//     flex-grow: 2;
//   }
//   div:nth-of-type(2) {
//     flex-grow: 1;
//     border-left: 1px solid green;
//     margin: 0 6px;
//   }
//   .time {
//     flex-grow: 2;
//     background: green;
//     border-radius: 50%;
//   }
//   // div:nth-of-type(4) {
//   //   flex-grow: 2;
//   // }
//   // div:nth-of-type(5) {
//   //   flex-grow: 2;
//   // }
//   // div:nth-of-type(6) {
//   //   flex-grow: 2;
//   // }
// }



.slider-section {
  position: relative;

  .slide-item-container {
    position: relative;
    text-align: center;
    div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .swiper-pagination {

    // display: flex;
    // flex-direction: column;
    // align-content: space-around;
    // bottom:6vh;
    // left: -2vw;
    position: absolute;
    bottom: 10px;
    top: auto !important;
    text-align: center;

    .swiper-pagination-bullet {
      background: var(--ion-color-secondary) !important;
      top: 70% !important;
      right: 50% !important;
      // height: 6px !important;
      // width: 4px !important;
      height: 4px !important;
      width: 6px !important;
      border-radius: 10px;
      opacity: 1 !important;
      // margin: 3px 0;
      margin: 0 2px;
    }

    .swiper-pagination-bullet-active {
      background-color: var(--ion-color-primary) !important;
      top: 70% !important;
      right: 50% !important;
      // height: 12px  !important;
      // width: 4px !important;
      height: 4px  !important;
      width: 12px !important;
      border-radius: 10px;
      opacity: 1 !important;
      // margin: 3px 0;
      margin: 0 2px;
    }

    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets
      .swiper-pagination-bullet {
      background-color: rgba(var(--ion-color-primary-rgb), 0.5) !important;
      height: 10px;
      width: 15px;
      border-radius: 10px;
      right: 50%;
    }
  }

  img {
    border-radius: 10px;
    height: 150px;
    width: 100%;
    object-fit: cover;
    //filter: brightness(0.66);
  }
}

.next-initiative {
  height: 100px;
  background: var(--ion-color-white);
  border-radius: var(--custom-border-10-radius);
  box-shadow: var(--custom-box-shadow);
  padding: 21px 20px;

  .initiative {
    display: flex;
    flex-direction: row;
    //align-items: center;

    .divider {
      width: 1px;
      border-left: 1px solid var(--ion-color-secondary);
      margin: 0 8px;
    }

    .title {
      flex-grow: 1;
      p {
        line-height: 30px;
      }
    }
    .title-ar {
      padding-left: 12.5px;
    }
    .time {
      flex-grow: 3;
      height: 44px;
      width: 44px;
      border-radius: 50%;
      background-color: rgba(var(--ion-color-secondary-rgb), 0.2);
      text-align: center;
      padding-top: 5%;
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      margin-right: 4px;

      .time-unit {
        margin-top: 16px;
      }
    }
  }
}

.flex-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  background-color: var(--ion-color-white);
  align-items: flex-start;

  .item-ar,
  .item-en-first {
    margin-right: 10px;
  }
  .item-en {
    margin-left: 10px;
  }
}

.flex-container > div {
  background-color: rgba(var(--ion-color-secondary-rgb), 0.2);
  color: var(--ion-color-primary);
  width: 44px;
  //margin: 0 10px 0 6px;
  height: 44px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  border-radius: 50%;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: nowrap;

  .margin-5-bottom {
    margin-bottom: 5px;
  }
  .card-container {
    width: 100%;
    //height: 100px;
    background: var(--ion-color-white);
    border-radius: var(--custom-border-10-radius);
    box-shadow: var(--custom-box-shadow);
    padding: 10px 11px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;

    .card-icon {
      height: 44px;
      width: 44px;
      border-radius: 50%;
      background-color: rgba(var(--ion-color-secondary-rgb), 0.2);
      // text-align: center;
      padding: 12px;
    }

    .card-info-icon {
      text-align: center;
      ion-icon {
        font-size: 35px;
      }
    }

    .card-statistics-icon {
      border: 1px solid var(--ion-color-secondary);
      border-radius: 50%;
      padding: 10px;
      width: 50px;
      height: 50px;
      // text-align: center;
      ion-icon {
        font-size: 28px;
      }
    }

    .card-statistics-text {
      margin-top: 10px;
    }

    // .card-text {
    //   p {
    //     margin: 0px;

    //   }
    // }
  }

  .item-left {
    margin-left: 6.5px;
  }

  .item-right {
    margin-right: 6.5px;
  }

  .info-item-left {
    margin-left: 5.5px;
  }

  .info-item-right {
    margin-right: 5.5px;
  }

  .info-item {
    margin-right: 5.5px;
    margin-left: 5.5px;
  }
}

.partners {
  margin-top: 20px;

  // p {
  //   margin-bottom: 0px;
  // }
}

.feedback {
  margin-top: 28px;
  margin-bottom: 30px;
  .feedback-section {
    // display: flex;
    // flex-direction: row;
    .feedback-swiper {
      margin: 0 -5px;
      .feedback-swiper-container {
        //margin:-5px;
      }
    }
    .feedback-card {
      box-shadow: var(--custom-box-shadow);
      background: var(--ion-color-white);
      border-radius: var(--custom-border-10-radius);
      padding: 10px;
      min-height: 110px;
      margin: 10px 0;

      .feedback-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        .feedback-person-icon {
          //padding: 1px;
          border: 1px solid var(--ion-color-primary);
          border-radius: 50%;
          width: 25px;
          height: 25px;
          // text-align: center;
          img {
            border-radius: 50%;
            width: 25px;
            //height: 25px;
          }
        }
        .feedback-person-name {
          margin: 0 10px;
        }
      }
      .feedback-content {
        margin-top: 10px;
        p {
          line-height: 22px;
          word-spacing: 2px;
        }
      }
    }
  }
}

.bar {
  position: relative;
  width: 90%;
  height: 30px;
  margin: 0 auto;
}

.home {
  position: absolute;
  top: 0px;
  left: 60%;
  width: 20%;
  text-align: center;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  top: 0;
  height: 0;
  border-top: 30px solid white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.bar:before {
  left: 0;
  width: 70%;
  border-right: 30px solid transparent;
}

.bar:after {
  right: 0;
  width: 30%;
  border-left: 30px solid transparent;
}
