.rating{
  display: flex;
  justify-content: space-between;
}

.slider-section {
  position: relative;

  .slide-item-container {
    position: relative;
    text-align: center;
    div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .swiper-pagination {
    position: absolute;
    bottom: 10px;
    top: auto !important;
    text-align: center;

    .swiper-pagination-bullet {
      background: var(--ion-color-secondary) !important;
      top: 70% !important;
      right: 50% !important;
      height: 4px !important;
      width: 6px !important;
      border-radius: 10px;
      opacity: 1 !important;
      margin: 0 2px;
    }

    .swiper-pagination-bullet-active {
      background-color: var(--ion-color-primary) !important;
      top: 70% !important;
      right: 50% !important;
      height: 4px !important;
      width: 12px !important;
      border-radius: 10px;
      opacity: 1 !important;
      margin: 0 2px;
    }

    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets
      .swiper-pagination-bullet {
      background-color: rgba(var(--ion-color-primary-rgb), 0.5) !important;
      height: 10px;
      width: 15px;
      border-radius: 10px;
      right: 50%;
    }
  }

  img {
    border-radius: 10px;
    height: 150px;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.66);
  }
}

.next-initiative {
  height: 100px;
  background: var(--ion-color-white);
  border-radius: var(--custom-border-10-radius);
  box-shadow: var(--custom-box-shadow);
  padding: 21px 20px;

  .initiative {
    display: flex;
    flex-direction: row;
    //align-items: center;

    .divider{
      width: 10px;
      border-left: 1px solid var(--ion-color-secondary);
    }
    .title {
     
      padding-left: 12.5px;
      flex-grow: 1;
      p {
        line-height: 30px;
      }
    }

    .time {
      flex-grow: 3;
      height: 44px;
      width: 44px;
      border-radius: 50%;
      background-color: rgba(var(--ion-color-secondary-rgb), 0.2);
      text-align: center;
      padding-top: 5%;
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      margin-right: 4px;

      .time-unit {
        margin-top: 16px;
      }
    }

  }
}

.flex-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  background-color: var(--ion-color-white);
  align-items: flex-start;
  // .flex-conatiner-item{
  //   display: flex;
  //   flex-direction: column;
  //   .time-detail{
  //     background-color: rgba(var(--ion-color-secondary-rgb), 0.2);
  //     color: var(--ion-color-primary);
  //     width: 44px;
  //     margin: 0 10px 0 6px;
  //     height: 44px;
  //     text-align: center;
  //     line-height: 40px;
  //     font-size: 16px;
  //     border-radius: 50%;
  //   }
  //   .time-unit{
      
  //   }
  // }
}

.flex-container > div {
  background-color: rgba(var(--ion-color-secondary-rgb), 0.2);
  color: var(--ion-color-primary);
  width: 44px;
  margin: 0 10px 0 6px;
  height: 44px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  border-radius: 50%;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: nowrap;

  .card-container {
    width: 100%;
    //height: 100px;
    background: var(--ion-color-white);
    border-radius: var(--custom-border-10-radius);
    box-shadow: var(--custom-box-shadow);
    padding: 18px 11px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .card-icon {
      height: 44px;
      width: 44px;
      border-radius: 50%;
      background-color: rgba(var(--ion-color-secondary-rgb), 0.2);
      text-align: center;
      padding: 12px;
    }

    .card-info-icon {
      text-align: center;
      ion-icon {
        font-size: 35px;
      }
    }

    .card-statistics-icon {
      border: 1px solid var(--ion-color-secondary);
      border-radius: 50%;
      padding: 10px;
      width: 50px;
      height: 50px;
      text-align: center;
      ion-icon {
        font-size: 28px;
      }
    }

    .card-statistics-text {
      margin-top: 10px;
    }

    .card-text {
      p {
        margin: 0px;
        
      }
    }
  }

  .item-left {
    margin-left: 6.5px;
  }

  .item-right {
    margin-right: 6.5px;
  }

  .info-item-left {
    margin-left: 5.5px;
  }

  .info-item-right {
    margin-right: 5.5px;
  }

  .info-item {
    margin-right: 5.5px;
    margin-left: 5.5px;
  }
}

.partners {
  margin-top: 20px;

  p {
    margin-bottom: 0px;
  }
}

.feedback {
  margin-top: 28px;
  margin-bottom: 30px;
  .feedback-section {
    .feedback-card {
      box-shadow: var(--custom-box-shadow);
      background: var(--ion-color-white);
      border-radius: var(--custom-border-10-radius);
      padding: 10px;
      min-height: 110px;

      .feedback-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        .feedback-person-icon {
          //padding: 1px;
          border: 1px solid var(--ion-color-primary);
          border-radius: 50%;
          width: 25px;
          height: 25px;
          text-align: center;
          ion-icon {
            font-size: 10px;
          }
        }
        .feedback-person-name {
          margin: 0 10px;
        }
      }
      .feedback-content {
        p {
          line-height: 20px;
          word-spacing: 2px;
        }
      }
    }
  }
}


.bar {
  position: relative;
  width: 90%;
  height: 30px;
  margin: 0 auto;
}

.home {
  position: absolute;
  top: 0px;
  left: 60%;
  width: 20%;
  text-align: center;
}

.bar:before, .bar:after {
  content:'';
  position: absolute;
  top: 0;
  height: 0;
  border-top: 30px solid white;
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
        box-sizing: border-box;
}

.bar:before {
  left: 0;
  width: 70%;
  border-right: 30px solid transparent;
}

.bar:after {
  right:0;
  width: 30%;
  border-left: 30px solid transparent;
}