.slider-section {
  position: relative;

  .slide-item-container {
    position: relative;
    text-align: center;
    div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // p{
      //   white-space: nowrap;
      // }
    }
  }

  .swiper-pagination {
    position: absolute;
    bottom: 10px;
    top: auto !important;
    text-align: center;

    .swiper-pagination-bullet {
      background: var(--ion-color-primary) !important;
      top: 70% !important;
      right: 50% !important;
      height: 10px !important;
      width: 15px !important;
      border-radius: 10px;
      opacity: 0.5 !important;
    }

    .swiper-pagination-bullet-active {
      background-color: var(--ion-color-primary) !important;
      top: 70% !important;
      right: 50% !important;
      height: 10px !important;
      width: 30px !important;
      border-radius: 10px;
      opacity: 1 !important;
    }

    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets
      .swiper-pagination-bullet {
      background-color: rgba(var(--ion-color-primary-rgb), 0.5) !important;
      height: 10px;
      width: 15px;
      border-radius: 10px;
      right: 50%;
    }
  }

  img {
    border-radius: 10px;
    height: 150px;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.66);
  }
}

.next-initiative {
  height: 100px;
  background: var(--ion-color-white);
  border-radius: 5px;
  box-shadow: var(--custom-box-shadow);
  padding: 21px 20px;

  .initiative {
    display: flex;
    flex-direction: row;
    // justify-content: space-around;

    .title {
      border-left: 1px solid var(--ion-color-secondary);
      padding-left: 12.5px;
      flex-grow: 1;
      p {
        line-height: 30px;
      }
    }

    .time {
      flex-grow: 3;
      height: 44px;
      width: 44px;
      border-radius: 50%;
      background-color: rgba(var(--ion-color-secondary-rgb), 0.2);
      text-align: center;
      padding-top: 5%;
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      margin-right: 4px;

      .time-unit {
        margin-top: 16px;
      }
    }
  }
}

.flex-container {
  display: flex;
  align-items: stretch;
  background-color: var(--ion-color-white);
}

.flex-container > div {
  background-color: rgba(var(--ion-color-secondary-rgb), 0.2);
  color: var(--ion-color-primary);
  width: 44px;
  margin: 0 10px 10px 6px;
  height: 44px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  border-radius: 50%;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

    align-items: stretch;
    align-content: stretch;
    flex-wrap: nowrap;

  .card-container {
    width: 100%;
    //height: 100px;
    background: var(--ion-color-white);
    border-radius: 5px;
    box-shadow: var(--custom-box-shadow);
    padding: 18px 11px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .card-icon {
      height: 44px;
      width: 44px;
      border-radius: 50%;
      background-color: rgba(var(--ion-color-secondary-rgb), 0.2);
      text-align: center;
      padding: 12px;
    }

    .card-info-icon {
      text-align: center;
      ion-icon {
        font-size: 35px;
      }
    }

    .card-statistics-icon {
      border: 1px solid var(--ion-color-secondary);
      border-radius: 50%;
      padding: 10px;
      width: 50px;
      height: 50px;
      text-align: center;
      ion-icon {
        font-size: 28px;
      }
    }

    .card-statistics-text {
      margin-top: 10px;
    }

    .card-text {
      p {
        margin: 0px;
      }
    }
  }

  .item-left {
    margin-left: 6.5px;
  }

  .item-right {
    margin-right: 6.5px;
  }

  .info-item-left {
    margin-left: 5.5px;
  }

  .info-item-right {
    margin-right: 5.5px;
  }

  .info-item {
    margin-right: 5.5px;
    margin-left: 5.5px;
  }
}

.partners {
  margin-top: 20px;

  p {
    margin-bottom: 0px;
  }
}

.feedback {
  margin-top: 28px;
  margin-bottom: 13px;
  .feedback-section {
    .feedback-card {
      box-shadow: var(--custom-box-shadow);
      background: var(--ion-color-white);
      border-radius: 5px;
      padding: 10px;
      min-height: 110px;

      .feedback-title{
        display: flex;
        flex-direction: row;
        align-items: center;
        .feedback-person-icon{
          //padding: 1px;
          border: 1px solid var(--ion-color-primary);
          border-radius: 50%;
          width: 25px;
          height: 25px;
          text-align: center;
          ion-icon{
            font-size: 10px;
          }
        }
        .feedback-person-name{
          margin: 0 10px;
        }
      }
      .feedback-content{
        p{
          line-height: 20px;
          word-spacing: 2px;
        }
      }
    }
  }
}
