/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~swiper/css/bundle";



@font-face {
  font-family: "Janna-LT-Bold";
  src: url("./assets/fonts/Bahij Janna-Bold.ttf");
}

@font-face {
  font-family: "Janna-LT-Regular";
  src: url("./assets/fonts/Bahij Janna-Regular.ttf");
}

@font-face {
  font-family: "Cairo-Regular";
  src: url("./assets/fonts/Cairo-Regular.ttf");
}

@font-face {
  font-family: "Cairo-Bold";
  src: url("./assets/fonts/Cairo-Bold.ttf");
}

@font-face {
  font-family: "Cairo-SemiBold";
  src: url("./assets/fonts/Cairo-SemiBold.ttf");
}

:root {
  --custom-box-shadow: 0 3px 6px rgb(0 0 0 / 16%) !important;
  
  * {
    text-transform: lowercase;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
}

:root[dir="rtl"] {
  ion-menu {
    &::part(container) {
      border-radius: 80px 0px 0px 80px;
      margin: 2.5vh 0;
      height: 95vh;
    }
  }
}

:root[dir="ltr"] {
  ion-menu {
    &::part(container) {
      border-radius: 0px 80px 80px 0px;
      margin: 2.5vh 0;
      height: 95vh;
    }
  }
}

.no-data {
  text-align: center;
  margin-top: 30%;
  p {
    font-size: 18px;
    color: var(--ion-color-primary);
  }
}

ion-badge {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  text-align: center;
  span {
    font-size: 7px;
  }
}

.my-custom-class {
  div#alert-1-msg {
    margin-top: 13px !important;
    color: var(--ion-color-dark-black) !important;
  }
  .alert-button-group.sc-ion-alert-md {
    display: flex !important;
    justify-content: space-around !important;
    button.alert-button.ion-focusable.ion-activatable.sc-ion-alert-md {
      font-size: 18px !important;
    }
  }
}

.unfocused {
  &::part(native) {
    --border-color: var(--ion-color-secondary) !important;
    border-bottom-color: var(--ion-color-secondary) !important;
  }
}

.focused {
  &::part(native) {
    --border-color: var(--ion-color-primary) !important;
    border-bottom-color: var(--ion-color-primary) !important;
  }
}

body {
  background-color: var(--ion-color-white);
}

ion-content {
  &::part(background) {
    background:var(--ion-color-background);
    margin-top: 16px;
    border-radius: 35px 35px 0 0;
  }

  --offset-top: 0px !important;
}

ion-tabs {
  ion-fab {
    margin-bottom: 6vh;
    --ripple-color: transparent;
    ion-fab-button {
      &::part(native) {
        background-image: linear-gradient(
          to bottom,
          var(--ion-color-primary),
          var(--ion-color-secondary)
        );
      }
    }
  }

  ion-tab-bar {
    --border: none;

    .custom-tab-button {
      --ripple-color: transparent;
    }

    ion-tab-button {
      --background: var(--ion-color-white);
      --color: var(--ion-color-secondary);

      &::part(native) {
        padding-inline-start: 0px;
        padding-inline-end: 0px;
      }
    }
  }

  .tabs-up {
    width: 100%;
    height: 19.5px;
    border-left: 50vw solid var(--ion-color-background);
    border-right: 50vw solid var(--ion-color-background);
    border-bottom: 5vh solid var(--ion-color-white);
  }
}
