/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~swiper/css/bundle";

@font-face {
  font-family: "Janna-LT-Bold";
  src: url("./assets/fonts/Bahij Janna-Bold.ttf");
}

@font-face {
  font-family: "Janna-LT-Regular";
  src: url("./assets/fonts/Bahij Janna-Regular.ttf");
}

:root {
  --custom-box-shadow: 0 3px 6px rgb(0 0 0 / 16%) !important;
  --custom-border-6-radius: 6px;
  --custom-border-10-radius: 10px;
  --ion-background-color: var(--ion-color-white);
  * {
    text-transform: lowercase;
  }

  
  :focus {
    outline: 0 !important;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  ion-menu {
    &::part(container) {
      margin: 2.5vh 0;
      height: 95vh;
    }
  }
}

.custom-border-10-radius {
  border-radius: var(--custom-border-10-radius);
}

.custom-border-6-radius {
  border-radius: var(--custom-border-6-radius);
}

.ios-menu-header {
  &::part(container) {
    margin: 4vh 0;
    height: 92vh;
  }
}

:root[dir="rtl"] {
  ion-menu {
    &::part(container) {
      border-radius: 80px 0px 0px 80px;
    }
  }
}

:root[dir="ltr"] {
  ion-menu {
    &::part(container) {
      border-radius: 0px 80px 80px 0px;
    }
  }
}

.no-data {
  text-align: center;
  margin-top: 30%;
  p {
    font-size: 18px;
    color: var(--ion-color-primary);
  }
}

ion-badge {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  text-align: center;
  span {
    font-size: 7px;
  }
}

.my-custom-class {
  div#alert-1-msg {
    margin-top: 13px !important;
    color: var(--ion-color-dark-black) !important;
  }
  .alert-button-group.sc-ion-alert-md {
    display: flex !important;
    justify-content: space-around !important;
    button.alert-button.ion-focusable.ion-activatable.sc-ion-alert-md {
      font-size: 18px !important;
    }
  }
}

.form-container {
  margin: 0 32px;
  ion-item {
    margin-bottom: 16px;
    border: 1px solid var(--ion-color-secondary);
    border-radius: 24px;
    ion-icon {
      font-size: 20px;
      background: var(--ion-color-secondary);
      padding: 14px;
      border-radius: 24px;
    }

    .icon-ar {
      margin: 0px -1px 0 24px;
    }

    .icon-en {
      margin: 0px 24px 0 -1px;
    }
    &::part(native) {
      padding-inline-start: 0px !important;
      padding-inline-end: 0px !important;
      background: transparent;
    }
  }
  ion-button {
    &::part(native) {
      height: 50px;
      border-radius: 20px;
    }
  }
}

.unfocused {
  &::part(native) {
    --border-color: var(--ion-color-secondary) !important;
    border-bottom-color: var(--ion-color-secondary) !important;
  }
}

.focused {
  &::part(native) {
    --border-color: var(--ion-color-primary) !important;
    border-bottom-color: var(--ion-color-primary) !important;
  }
}

ion-content {
  &::part(background) {
    background: var(--ion-color-background);
  }

  --offset-top: 0px !important;
}

ion-tabs {
  ion-fab {
    margin-bottom: 5vh;
    --ripple-color: transparent;
    ion-fab-button {
      &::part(native) {
        background-image: linear-gradient(
          to bottom,
          var(--ion-color-primary),
          var(--ion-color-secondary)
        );
      }
    }
  }

  ion-tab-bar {
    --border: none;

    .custom-tab-button {
      &::part(native) {
        --ion-ripple-effect {
          color: transparent !important ;
        }
      }
    }

    ion-tab-button {
      --background: var(--ion-color-white);
      --color: var(--ion-color-secondary);

      &::part(native) {
        padding-inline-start: 0px;
        padding-inline-end: 0px;
      }
    }
  }

  .tabs-up {
    width: 100%;
    height: 19.5px;
    border-left: 50vw solid var(--ion-color-background);
    border-right: 50vw solid var(--ion-color-background);
    border-bottom: 5vh solid var(--ion-color-white);
  }

  .custom-content-margin {
    margin: 0 32px;
  }

  .charity-info {
    .custom-card {
      box-shadow: var(--custom-box-shadow);
      background-color: var(--ion-color-white);
      border-radius: 10px;
      padding-top: 12px;
      padding-bottom: 15px;
      img {
        width: 93.72px;
      }
    }

    .charity-info-content {
      margin: 26px 29px 0 29px;
    }

    ul {
      padding: 0px !important;
      li {
        &::before {
          content: "-";
        }
        list-style-type: none;
        p {
          display: inline;
        }
      }
    }
  }
}
